layout {

    focus-ring {
        active-color   "#efb5de"
        inactive-color "#161215"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#efb5de"
        inactive-color "#161215"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#efb5de"
        inactive-color "#64385a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#efb5de80"
    }
}

recent-windows {
    highlight {
        active-color "#efb5de"
        urgent-color "#ffb4ab"
    }
}
