layout {

    focus-ring {
        active-color   "#b2c9df"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b2c9df"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b2c9df"
        inactive-color "#33495b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b2c9df80"
    }
}

recent-windows {
    highlight {
        active-color "#b2c9df"
        urgent-color "#ffb4ab"
    }
}
